:root {
  --color1: #7149c6;
  --color2: #fc2947;
  --color3: #fe6244;
  --color4: #ffdeb9;
  --color5: #062743;
  --color6: #113a5d;
  --color7: #ff7a8a;
  --color8: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: var(--color4);
  font-size: 26px;
  font-family: Roboto, sans-serif;
  padding: 20px;
  text-align: center;
  user-select: none;
}
