:root {
  --color1: #7149c6;
  --color2: #fc2947;
  --color3: #fe6244;
  --color4: #ffdeb9;
  --color5: #062743;
  --color6: #113a5d;
  --color7: #ff7a8a;
  --color8: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Inter-Regular.eot), url(../fonts/Inter-Regular.ttf),
    url(../fonts/Inter-Regular.woff), url(../fonts/Inter-Regular.woff2);
}

.header {
  background-color: var(--color4);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  transition: background-color 0.5s ease-in-out;
}

.btn button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 50px;
  background-color: var(--color2);
  border: 1px solid var(--color2);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: Roboto, sans-serif;
  user-select: none;
}
.theme {
  position: relative;
  width: 90px;
  height: 44px;
  background-color: var(--color2);
  border-radius: 50px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  user-select: none;
  overflow: hidden;
  transition: ease-in 1s;
  display: inline;
  text-align: right;
}

.defaultColor {
  background-color: var(--color2);
}
.pressColor {
  background-color: var(--color7);
}

.sun {
  width: 36px;
  height: 36px;
  background-color: #ffc207;
  border-radius: 50%;
  margin: 4px;
  transition: all 0.6s;
  user-select: none;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

.suncolor {
  background-color: #ffc207;
}

@media only screen and (max-width: 1200px) {
  .theme {
    width: 90px;
    height: 42px;
  }

  .sun {
    width: 34px;
    height: 34px;
    margin: 4px;
  }
}

@media only screen and (max-width: 992px) {
  .btn button {
    padding: 8px 16px;
    font-size: 18px;
  }
  .theme {
    width: 80px;
    height: 40px;
  }

  .sun {
    width: 32px;
    height: 32px;
    margin: 4px;
  }
}

@media only screen and (max-width: 786px) {
  .btn button {
    padding: 7px 15px;
    font-size: 18px;
  }
  .theme {
    width: 70px;
    height: 35px;
  }

  .sun {
    width: 28px;
    height: 28px;
    margin: 4px;
  }
}

.day {
  background-color: var(--color4);
}

.night {
  background-color: var(--color5);
}

.night .sun {
  transform: translateX(130%);
}
